body, ul {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; 
}
header, footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.divider {
    height: 20px;
    background-color: #1A535C;

}
.main-content {
    padding: 20px;
} 
.portfolio-section {
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
.portfolio-section h1 {
    font-size: 40px;

}
.portfolio-section {
    text-align: center;
}
.artwork {
    margin-top: 20px;
}
.artwork img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
}
th {
    background-color: #f0f0f0;
    padding: 8px;
    text-align: left;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.back-to-home {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.back-to-home:hover {
    background-color: #555;
}
