body, ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

header, footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.divider {
    height: 20px;
    background-color: #FF6B6B;
}
.intro {
    text-align: center;
    padding: 50px 20px;
    color: black;
}

.intro h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
	padding: 90px 50px;
    text-align: center;
}
.latest-artwork {
    padding: 50px 20px;
    text-align: center;
}

.latest-artwork h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.artwork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.artwork img {
    width: 100%;
    height: auto;
}